:root {
  --color-dark-page: #1e1e1e;
  --color-text-primary: #F9FAFB;
  --color-brand-accent: #FB641B;
}

body {
  background-color: var(--color-dark-page);
  color: var(--color-text-primary);
  font-family: 'Roboto', 'Inter', sans-serif;
}

.avn-heading {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
  color: var(--color-text-primary) !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.filled-icon {
  font-variation-settings: "FILL" 1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.skeleton-shimmer {
  background: linear-gradient(90deg, #161A20 25%, #1C1F26 50%, #161A20 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.topography-lines {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10 C 20 20, 40 10, 50 30 S 80 40, 90 20' stroke='white' fill='transparent' stroke-width='0.5' opacity='0.1'/%3E%3C/svg%3E");
}
